/* MARGINI */
.m-btt{
    margin-bottom: 2em;
}

.box{
    width: 100%;
    min-height: 3em;

    padding: 1em;
    border: 1px solid #FFFFFF ;

    text-align: center;

    color: #FFFFFF;
    background-color: #006CFA;
}

.box.nested-box{
    border: 1px solid #006CFA;
    
    background-color: #00E165;
}

/* ALIGNMENT */
.start{
    justify-content: flex-start;
}
.center{
    justify-content: center;
}
.end{
    justify-content: flex-end;
}

.box.big-box{
    padding: 3em;
}

.top{
    align-self: flex-start;
}
.middle{
    align-self: center;
}
.bottom{
    align-self: flex-end;
}

/* JUSTIFY CONTENT */
.around{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}